<form method="post" action="/new">
    <input 
        type="text"
        name="text"
        placeholder="Text"
        required
    />
    <input 
        type="text"
        name="user"
        placeholder="User Name"
        required
    />

    <button type="submit">Submit</button>
</form>